@model DOAN_BDS.Models.AdminUser

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" />


<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'poppins',sans-serif;
    }

    a {
        text-decoration: none;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        background: url(/Content/img/background6.jpg)no-repeat;
        background-position: center;
        background-size: cover;
    }

    .form-box {
        position: relative;
        width: 400px;
        height: 450px;
        background: transparent;
        border: 2px solid rgba(255,255,255,0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 2em;
        color: #fff;
        text-align: center;
    }

    .inputbox {
        position: relative;
        margin: 30px 0;
        width: 310px;
        border-bottom: 2px solid #fff;
    }

        .inputbox label {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            color: #fff;
            font-size: 1em;
            pointer-events: none;
            transition: .5s;
        }

    .input:focus ~ label,
    .input:valid ~ label {
        top: -5px;
    }

    .inputbox .input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 0 35px 0 5px;
        color: #fff;
    }

    .inputbox ion-icon {
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        top: 20px;
    }

    .forget {
        margin: -15px 0 15px;
        font-size: .9em;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

        .forget label .input {
            margin-right: 3px;
        }

        .forget a {
            color: #fff;
            text-decoration: none;
        }

        .forget label a:hover {
            text-decoration: underline;
        }

    button {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
    }

    .register {
        font-size: .9em;
        color: #fff;
        text-align: center;
        margin: 25px 0 10px;
    }

        .register p a {
            text-decoration: none;
            color: #fff;
            font-weight: 600;
        }

            .register p a:hover {
                text-decoration: underline;
            }

    .back-home {
        text-align: center;
        margin: 25px 0 10px;
        color: #fff;
        font-weight: 600;
    }

        .back-home a:hover {
            text-decoration: underline;
        }
</style>

@using (Html.BeginForm("LoginAccount", "AdminUsers"))
{
    @Html.AntiForgeryToken()
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>LOGIN</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        @Html.TextBoxFor(model => model.NameUser, new { @class = "input" })
                        @Html.ValidationMessageFor(model => model.NameUser)
                        <label for"">Username</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        @Html.PasswordFor(model => model.PasswordUser, new { @class = "input" })
                        @Html.ValidationMessageFor(model => model.PasswordUser)
                        <label for"">Password</label>
                    </div>
                    <div class="error-text">
                        @if (ViewBag.ErrorInfo != null)
                        {
                            <p style="color: red;">@ViewBag.ErrorInfo</p>
                        }
                    </div>
                    <button>Log in</button>
                    <div class="register">
                        <p>Don't have a account <a href="/AdminUsers/RegisterUser">Register</a></p>
                    </div>
                    <div class="back-home">
                        <a href="/Home/Main" class="back-home">Trở về trang chủ</a>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
}
